---
layout: default
---


<div class="row">
    <div class="12u">

        <!-- Snacks -->
            <section>
                <header class="major">
                    <h2>Featured Snacks</h2>
                </header>
                <div class="row">
                        {% for post in paginator.posts %}
                            {% if post.categories contains "more" %}                                             
                                <div class="6u">
                                    <section class="box snippetWrapper">
                                        <header class="minor">
                                            <h3><a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a></h3>
                                            <img src='{{ post.image | prepend: site.baseurl }}'/>
                                        </header>                            
                                        <span class="image featured tabs">                            
                                            <div class="videoWrapper">
                                                {{post.content}}
                                            </div>
                                        </span> 
                                        <p>{{post.shortdesc}}</p>         
                                    </section>
                                </div>
                            {% endif %}
                        {% endfor %}
                </div>    
            </section>                    
    </div>  
    
</div>

 <div class="row large-text">
            <div class="12u">               
                 {% if paginator.previous_page %}
                    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
                    {% else %}
                        <span class="previous">Previous</span>
                    {% endif %}
                    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
                    {% if paginator.next_page %}
                        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
                    {% else %}
                        <span class="next ">Next</span>
                  {% endif %}
            </div>
</div>