---
layout: default
---

<div class="row">
    <div class="12u">      
            <section>
                <header class="major">
                    <h2>Snacklabs</h2>
                </header>
                <div class="row">
                    <p>Like to contribute a Snacklab? We welcome contributions! Please follow the <a href="https://github.com/jlooper/snacklabs">instructions on the ReadMe</a> to create a new lab. Then, please fill out <a href="http://127.0.0.1:4000/contribute.html">this form</a> to let me know what you have built so that we can include it on this site!</p>   
                </div>  
                    <div class="row">
                       {% assign counter = 0 %}
                        {% for post in site.categories.snacklabs %}
                           {% assign counter = counter | plus: 1 %}
                            {% if counter > 6 %}
                                {% assign counter = 1 %}
                            {% endif %}
                            <div class="6u">
                                <a href="{{ post.link | prepend: site.baseurl }}">
                                    <section class="box snacklabWrapper"> 
                                    {% if post.type == 'ng' %}<span style="float:left"><img src="{{ site.baseurl }}/images/ng-n.png"></span>{% endif %}                                                                                                                                                                       
                                    {% if post.type == 'vue' %}<span style="float:left"><img src="{{ site.baseurl }}/images/ns-vue.png"></span>{% endif %}                                                                                                     

                                    <header class="minor">
                                        <h3>{{post.title}}</h3>
                                        <img src="{{ site.baseurl }}/images/snack{{counter}}.jpg">                                        
                                        <h4>by {{post.author}}</h4>
                                        <span class="image centered">                            
                                            <img src="{{post.image}}"/>
                                        </span>
                                        <p>{{post.shortdesc}}</p>
                                    </header>                            
                                </section>
                                </a>
                            </div>
                      {% endfor %}
                </div>
                          
            </section>

    </div>
</div>
