---
layout: default
---

<div class="row">
    <div class="12u">      
            <section>
                <header class="major">
                    <h2>Snippets</h2>
                </header>
                    <div class="row">
                       {% for post in site.posts%}
                          {% if post.categories contains "snippets" %}
                            <div class="6u">
                                <section class="box snippetWrapper">
                                    <header class="minor">
                                        <h3><a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a></h3>
                                    </header>                            
                                    <span class="image featured tabs">                            
                                            <img src="{{post.image}}"/>
                                    </span> 
                                    <a href="{{ post.url | prepend: site.baseurl }}">get the code!</a>         
                                </section>
                            </div>
                        {% endif %}
                      {% endfor %}
                </div>           
            </section>

    </div>
</div>
