<div id="header-wrapper">
    <div id="header">
        
       
        <!-- Logo -->
        <img src="{{site.logo | prepend: site.baseurl}}"/>
            
        <h1><a href="/">{{ site.title }}</a></h1>
            
        <nav id="nav">
            <ul>
                <li class="current" style="white-space: nowrap;"><a href="">New</a></li>
                <li style="white-space: nowrap;"><a href="">Requests</a></li>
                <li style="white-space: nowrap;"><a href="">Archive</a></li>
                <li style="white-space: nowrap;"><a href="">Search</a></li>
            </ul>
        </nav>

        
        {% if page.url == "/index.html" or page.url == "/" %}
        <!-- Banner -->
            <section id="banner">
                <header>
                    <h2>Bite-Sized Video Tutorials</h2>
                    <p>...all about NativeScript!</p>
                </header>
            </section>
        {% endif %}
        
         

    </div>
</div>
